prova.py
disegno.py
ProvaDiStima.py

Beta_ln_ak.png
CAViaR_DGP_acorr.png
CAViaR_DGP_log_acorr.png
CAViaR_DGP01.png
CAViaR_DGP025.png
ShortLongDecay.png

ParamEstimation.tex

ERReturn.png
ERDescriptiveStats.tex
ERHist.png
ERAcorr.png
ParamEst_ER.tex

STATSeithSTAR.py

SIReturn.png
SIDescriptiveStats.tex
SIHist.png
SIAcorr.png
