prova.py
Beta_ln_ak.png
CAViaR_DGP_acorr.png
CAViaR_DGP_log_acorr.png
CAViaR_DGP01.png
CAViaR_DGP025.png
disegno.py
ProvaDiStima.py
ShortLongDecay.png
ParamEstimation.tex
ExchangeRatesReturn.png
DescriptiveStats.tex
ReturnHist.png
acorr_ER.png
STATSeithSTAR.py
ParamEst_ER.tex
